@model Wedding

<br>

<div class="container">
<h1>@Model.WedderOne and @Model.WedderTwo's Wedding | <a asp-action="Dashboard">Dashboard</a> | <a asp-action="Logout">Log Out</a></h1>
    <div class="row">
        <div class="col">
            <h4>Date: @Model.Date</h4>
            <h4>Guests:</h4>
            <ul>
                @foreach(var association in @Model.Associations)
                {
                    <li>@association.User.FirstName @association.User.LastName</li>
                }
            </ul>
        </div>
        <div class="col">
            <h1>Sup</h1>
        </div>
    </div>
</div>